{% extends 'layouts/admin/base.html' %}

{% block content %}
<h3>Page title
    <small>Subtitle</small>
</h3>
<div class="row">
    <div class="col-lg-12">
        <p>A row with content</p>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <h3 class="mt0">{{ user.username }}</h3>
                    <p>{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}