<!-- Iterates over all sidebar items-->
<li class="nav-heading ">
    <span data-localize="sidebar.heading.HEADER">Main Navigation</span>
</li>
<li class=" ">
    <!--home-->
    <a href="{% url 'home' %}" title="Profile">
        <em class="icon-user"></em>
        <span data-localize="sidebar.nav.WIDGETS">Profile</span>
    </a>
    <!--users-->
    <a href="{% url 'users:index' %}" title="Users">
        <em class="icon-people"></em>
        <span data-localize="sidebar.nav.WIDGETS">Users</span>
    </a>
    <!--teams-->
    <a href="{% url 'teams:list' %}" title="Teams">
        <em class="icon-people"></em>
        <span data-localize="sidebar.nav.WIDGETS">Teams</span>
    </a>
    <!--players-->
    <a href="{% url 'players:list' %}" title="Players">
        <em class="icon-people"></em>
        <span data-localize="sidebar.nav.WIDGETS">Players</span>
    </a>
    <!--competitions-->
    <a href="{% url 'competitions:index' %}" title="Competitions">
        <em class="icon-people"></em>
        <span data-localize="sidebar.nav.WIDGETS">Competitions</span>
    </a>
</li>